<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>learnersacademy4</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>add-student-form.jsp</welcome-file>
    
  </welcome-file-list>
  
  <servlet>
  <servlet-name>Dashboard_Servlet</servlet-name>
  <servlet-class>com.simplilearn.project.Dashboard_Servlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  <servlet-name>Dashboard_Servlet</servlet-name>
  <url-pattern>/Dashboard</url-pattern>
  </servlet-mapping>
  
  <servlet>
  <servlet-name>StudentControllerServlet</servlet-name>
  <servlet-class>com.simplilearn.project.StudentControllerServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  <servlet-name>StudentControllerServlet</servlet-name>
  <url-pattern>/students</url-pattern>
  </servlet-mapping>
  
  <servlet>
  <servlet-name>ClassControllerServlet</servlet-name>
  <servlet-class>com.simplilearn.project.ClassControllerServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  <servlet-name>ClassControllerServlet</servlet-name>
  <url-pattern>/classes</url-pattern>
  </servlet-mapping>
  
  
</web-app>